h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

img.book-cover {
  width: 100%;
}

p.bookTitle {
  font-weight: 600;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

p.bookAuthor {
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1 !important;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical; 
}

.star-image {
  height: 15px;
}

.book-card:hover {
  cursor: pointer;
}

.book-card {
  padding: 0px 6px;
}