.first-row .col {
  padding-left: 0px;
  padding-right: 0px;
}

div.first-row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

optgroup, select {
  font-family: 'Assistant', sans-serif;
  font-size: 15px !important;
}

.collapse-header {
  background-color: #E4E4E4;
  padding-left: 5px;
}

.collapse-header:hover {
  cursor: pointer;
}

.collapse-header p {
  margin-bottom: 5px;
}

.second-row ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 0px;
}

.second-row ul li {
  border-bottom: 1px solid black;
}

.second-row ul li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.second-row ul li p {
  padding-left: 5px;
  margin-bottom: 0px !important;
}

.filter-wrapper {
  margin-bottom: 16px;
}

.filter-wrapper ul {
  margin-bottom: 0px;
}

.fa-sort-asc {
  padding-top: 6px;
}

.card-book {
  padding: 15px 15px;
  margin: 0px 0px 20px 0px;
  border : 1px solid #707070;
  border-radius: 10px;
}

.ebook-image {
  height: 200px;
}

.author-text {
  color: red;
}

p.author-info {
  margin-bottom: 5px;
}

p.synopsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.star-image {
  height: 20px;
}

.book-rating-container p.text {
  padding-top : 20px;
}

p.price {
  margin-top: 8px;
  font-size: 15pt;
  margin-bottom: 0px;
}

.ic-trash {
  height: 20px;
}

.card-book {
  cursor: pointer;
}

.book-title:hover {
  color: red;
}

button {
  font-size: 14px;
}

.button {
  background-color: red; 
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
}

.second-row .col-10 .card-book:first-child {
  margin-top: 0px;
}

#orderOptionWrapper2 {
  display: none;
}

#orderOption2 {
  height: fit-content;
}

@media only screen and (max-width: 800px) {
  .card-book {
    width: auto;
  }

  #orderOptionWrapper1 {
    display: none;
  }

  #orderOptionWrapper2 {
    display: flex !important;
  }
}